# Entire repo
*       @kccarter76

# Specific folder
.github/    @kccarter76
SubLight.Documentation/ @SubSonic-Core/docs-team

# Specific file
LICENSE.dual.md  @kccarter76
cla.md           @kccarter76 

# File type
*.md    @SubSonic-Core/docs-team

